---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import HorizontalSeparator from '../components/HorizontalSeparator.astro';
import BlogCard from '../components/BlogCard.astro';


const posts = await getCollection('blog');
const heading = 'Blog';


---
<Layout title={heading}>
    <Section>
        <h1>{heading}</h1>
        {posts.map(post => (
        <BlogCard post={post}/>
        <HorizontalSeparator/>
        ))}
    </Section>
</Layout>   