---
import Container from './Container.astro';

interface Props {
  dark?: boolean;
}

const { dark = false } = Astro.props;
---

<section class={dark ? 'dark' : ''}>
  <Container>
    <slot />
  </Container>
</section>
<style>
  section {
    padding-block: 80px;

    &.dark {
      background-color: var(--secondary);
    }
  }
</style>
